<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="Rows">
                    <app-rows></app-rows>
                </mat-tab>
                <mat-tab label="Columns in a Row">
                    <app-cols></app-cols>
                </mat-tab>
                <mat-tab label="Control in Columns">
                    <app-control-cols></app-control-cols>
                </mat-tab>
                <mat-tab label="Finalize form">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus repellendus et id sed
                        nostrum. Itaque eaque recusandae suscipit facere quos voluptas alias? Nobis, maxime
                        deleniti? Vel, iusto! Earum, cum sunt.</p>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>