<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Rows">
          <app-rows></app-rows>
        </mat-tab>
        <mat-tab label="Columns in a Row">
          <app-cols></app-cols>
        </mat-tab>
        <mat-tab label="Control in Columns">
          <app-control-cols></app-control-cols>
        </mat-tab>
        <mat-tab label="Finalize form">
          <app-final-form-layout></app-final-form-layout>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
