<p>step-indicator works!</p>

<div class="row stepwizardTopmargin">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div class="stepwizard">
      <div class="row stepwizard-row">
        <div class="stepwizard-step col-md-3">
          <button type="button" class="btn btn-circle">
            0
          </button>
          <p>
            WIZARD_LINES
          </p>
        </div>
        <div class="stepwizard-step col-md-3">
          <button type="button" class="btn btn-circle">
            1
          </button>
          <p>
            WIZARD_LAYOUT
          </p>
        </div>
        <div class="stepwizard-step col-md-3">
          <button type="button" class="btn btn-default btn-circle">
            2
          </button>
          <p>
            WIZARD_CONTROLS
          </p>
        </div>
        <div class="stepwizard-step col-md-3">
          <button type="button" class="btn btn-default btn-circle">
            3
          </button>
          <p>
            WIZARD_SAVE
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
