<p>step-zero-command-panel works!</p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <mat-icon>history</mat-icon>
        &nbsp;COMMAND_PANEL
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <span class="addNewLine">ADD_NEW_LINE : </span>
          &nbsp;
          <button mat-raised-button color="primary" (click)="addNewline()">
            <i class="fa fa-plus fa-1x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
